<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="Geoffrey Litt web design developer Ruby on Rails MUBI Yale">
    <meta name="description" content="Geoffrey Litt is a web developer and designer currently studying at Yale University.">
    <title>Geoffrey Litt</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/style2.css" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="jquery.isotope.min.js"></script>
    <script src="jquery.ba-hashchange.min.js"></script>
    <script src="jquery.imagesloaded.min.js"></script>
    <script src="main.js"></script>

    <meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div id="header">
      <div id="header_content">
        <a class="ajax" href="/#about">
          <img id="circle_photo" src="images/circle-photo.png" />
          <div id="name">Geoffrey Litt</div>
        </a>
        <div id="links">
          <a href="/#about" class="ajax header_tab" id="about_link">About Me</a>
          <a href="/#projects" class="ajax header_tab" id="projects_link">Projects</a>
          <a href="/#blog" class="ajax header_tab" id="blog_link">Blog</a>
        </div>
      </div>
    </div>

    <div id="panel_container">
      <div id="about_panel" class="panel">
        <% about = @items.select{|item| item.identifier == '/about/'}.first %>
        <%= about.compiled_content(:snapshot => :last) %>
      </div>
      <div id="projects_panel" class="panel">
        <% projects = @items.select{|item| item.identifier == '/projects/'}.first %>
        <%= projects.compiled_content(:snapshot => :last) %>
      </div>
      <div id="blog_panel" class="panel">
        <% blog = @items.select{|item| item.identifier == '/blog/'}.first %>
        <%= blog.compiled_content(:snapshot => :last) %>
      </div>
    </div>
  </body>
</html>
