<div class="panel_title">
  <span class="slashes">// </span>
  <h1>About Me</h1>
</div>

<div class="panel_content">
  <div id="about_main">
    <%= yield %>
  </div>

  <div id="about_sidebar">
    <img class="about_photo" src="images/about-photo.jpg" />
    <p>You can find me on:</p>
    <ul class="contacts">
      <li><a href="http://www.linkedin.com/in/geoffreylitt" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/geoffreylitt" target="_blank">Github</a></li>
      <li><a href="http://twitter.com/geoffreylitt" target="_blank">Twitter</a></li>
      <li><a href="mailto:gklitt@gmail.com">Email</a></li>
    </ul>

  </div>
</div>
