<% if @item.attributes[:published] %>
  <article>
    <h4 class="date"><%= @item.attributes[:created_at].strftime("%b %e, %Y") %></h5>
    <h1 class="title"><%= @item.attributes[:title] %></h2>
    <p><%= yield %></p>
  </article>
<% end %>